name: Deploy to Firebase
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Functions Dependencies
        run: |
          if [ -d "functions" ]; then
            cd functions
            npm ci
          fi

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --force
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_APEX_LABS_18862 }}
